
<div class="row">
    <% @games.each do |game| %>
            
            <div class="col-md-2">
                <div class="card mb-4 shadow-sm text-center">
   
                    <div class="card-body">
                        <b class="card-text, text-info">
                            <%= data_game(game) %>
                        </b>
                        <br>
                        <br>
                        <% if game.player_id.blank? %>
                            <%= link_to 'Edit', in_game_game_path(game), class: 'btn btn-primary' %>
                        <% else %>
                            <p>Partida terminada</p>
                            <%= link_to 'Detalles', in_game_game_path(game), class: 'btn btn-secondary' %>
                        <% end %>
                    </div>
                </div>
            </div>
        
    <% end %>
</div>

