
<div class="row">
    <% @players.each do |player| %>
            
            <div class="col-md-2">
                <div class="card mb-4 shadow-sm text-center">
                    <%= image_tag (player.imagen_url).to_s %>
                    <div class="card-body">
                        <p class="card-text">
                            <%= player.name %>
                        </p>
                        <%= link_to 'Estadisticas', player_path(player), class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        
    <% end %>
</div>